.centered{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60vh;
    top: 10vh;
    display: flex;
}
.welcome{
    width: 60vh;
}

.logotelyu{
    height: 200px;

}

.logout{
    position: absolute;
    right: 5px;
    /* position */
}

.fotokampus{
    object-fit: cover;
    height: 89vh;
    width: 50vw;
    left: 0px;
    position: absolute;
    
}

.container{
    margin-left: 0px;
    margin-right: 0px;
}

